body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #55acee;
    font-family: arial;
    font-weight: 300;
    background: url(letter-bg.jpg) no-repeat;
    background-size: 120%;
    
}

#login-box {
    position: relative;
    margin: 11% auto;
    float: right;
    height: 500px;
    width: 600px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 6.);
}
.left-box{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    
}
h1{
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: 300;
    font-size : 28px;
   
}
input[type="text"],
input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width:220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    background-color: rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="submit"]{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight:500;
    text-transform: 0.2s ease;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
    background: #ff5722;
    transition: 0.2s ease;
}

.or{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    color:#55acee;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    line-height: 40px;
    text-align: center;
}




.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
   
    background-size: cover;
    background-position: center;
}
.right-box .signinwith{
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 28px;
    background-color: rgba(0,0,0,0.1);
    padding: 11px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
button{
    margin-bottom: 15px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-family: sans-serif;
    font-weight:500;
    transition: 0.2s ease;
    cursor: pointer;
}
.facebook{
    background: #32508e;
   
    position: center;
}
.twitter{
    background: #dd4b39;
   
}
.google{
    background: #dd4b39;
    
}
